@import '../../styles/settings.scss';


.columnForm {
  height: 42px;
  display: flex;
  text-align: center;
  padding-top: 50px;
  input{
    margin-inline: 12px;
  }
  span{
    margin-left: 12px;
  } 
}

@media (max-width: 767px) {
  .columnForm{
    flex-direction: column;
    align-items: center;
    span {
      width: 100%;
      font-size: 16px;
    }
    button{
      width: 69%;
      height: 80px;
      font-size: 25px;
    }
    input{
      width: 60%;
      height: 60px;
    }
  }
}





