@use "sass:math";
@import '../../styles/settings.scss';

.column {
  flex-shrink: 0;
  width: calc(33% - 12px);
  background: $color-light;
  margin: 5;
  padding: ($base-size * 1.5);
  border-radius: $radius;
  box-shadow: 0 math.div($base-size, 4) 0 rgba(0,0,0,0.3);
  color: $color-dark;
  
}

.title {
  position: relative;
  text-align: center;
  font-size: ($base-size * 1.5);
  margin: 0 0 ($base-size * 1.5) 0;
}


.icon::before {
  padding-right: $base-size;
  color: $color-warning;
  font-size: ($base-size * 2);
  vertical-align: middle;
  position: relative;
  top: - math.div($base-size, 3);
}

.cards {
  padding: math.div($base-size, 2) 0;
}

@media (max-width: 767px) {
  .column {
    width: 100%;
    margin: 0 0 $base-size 0;
  }
}

.removeBtn {
  background: transparent;
  border: none;
  color: $color-dark;
  font-size: ($base-size * 1.4);
  cursor: pointer;
  float: right;
  margin-left: $base-size;

  &:hover {
    color: red;
  }
}
