@use "sass:math";
@import '../../styles/settings.scss';

.lists {
  margin-top: $base-size * 2;
}

.heading {
  text-align: center;
}

.list {
  display: flex;
  justify-content: space-between;
  max-width: $base-size * 35;
  margin: ($base-size * 2) auto ($base-size * 2) auto;
  background: $color-light;
  margin-bottom: $base-size;
  border-radius: $radius;
  box-shadow: 0 math.div($base-size, 4) 0 rgba(0,0,0,0.3);
  padding: $base-size;
}

.listLink {
  width: 100%;
  text-decoration: none;
  color: $color-dark;
}